@page "/"

<PageTitle>Sample code for working with Square</PageTitle>

<h1>Sample code for working with Square</h1>

<p>Sample code for working with Square</p>

<p>In order to use this, you will need to set three environment variables (current values shown in brackets)...</p>
<ul>
  <li>SquareAppId: @(Environment.GetEnvironmentVariable("SquareAppId") ?? "(null)")</li>
  <li>SquareAccessToken: @(Environment.GetEnvironmentVariable("SquareAccessToken") ?? "(null)")</li>
  <li>SquareLocationId: @(Environment.GetEnvironmentVariable("SquareLocationId") ?? "(null)")</li>
</ul>

<p><strong>Note:</strong> You will need to restart Visual Studio <strong>after</strong> setting these variables, as VS only reads the environment when it starts, not when your application starts.</p>

<h2>Explanation of what's in this project</h2>
<p>The code shown here is the result of me experimenting with the Square API. I do not make any claims that this is the only way to use it, nor even that it's the best way to use it. This is what I managed to get working. If you have any (polite!) comments on my code, please feel free to open an issue on the <a href="https://github.com/MrYossu/SquarePayments" target="_blank">GitHub repository</a>.</p>

<p>Also, the UI design here won't win any prizes! I'm a software developer, not a graphic designer, and these pages were written to test a concept, so they don't look very pretty!</p>

<p>A brief explanation of the pages in the project, and how to use the helper class can be found in the <a href="https://github.com/MrYossu/SquarePayments" target="_blank">GitHub repository</a>.</p>