@page "/"
@inject IJSRuntime _js;
@using Square
@using Square.Exceptions
@using Square.Models
@implements IAsyncDisposable;

<PageTitle>Take payments with Square</PageTitle>

<h1>Take payments with Square</h1>

<div id="@_elementId" class="w-50"></div>
<button @onclick="@Pay">Pay</button>

@if (Msgs.Any()) {
  <ul>
    @foreach (string msg in Msgs) {
      <li>@msg</li>
    }
  </ul>
}

@code{

  // TODO - Insert your credentials in the three variables below
  // For anyone who peeked in the first commit and saw that I'd accidentally pushed by sandbox creds, don't get too excited as I revoked the access token immediately!
  private readonly string _appid = "APPLICATION ID";
  private readonly string _accessToken = "ACCESS TOKEN";
  private readonly string _locationId = "LOCATION ID";
  private IJSObjectReference _squareJs = null!;
  private IJSObjectReference _squareCard = null!;
  private readonly Square.Environment _environment = Square.Environment.Sandbox;
  private readonly string _elementId = "SquareCardPayment" + Guid.NewGuid().ToString("N");
  private bool _payEnabled;
  public List<string> Msgs { get; set; } = new(){"Loading...."};

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    Msgs.Clear();
    if (firstRender) {
      try {
        await _js.InvokeAsync<IJSObjectReference>("import", _environment == Square.Environment.Sandbox ? "https://sandbox.web.squarecdn.com/v1/square.js" : "https://web.squarecdn.com/v1/square.js");
        _squareJs = await _js.InvokeAsync<IJSObjectReference>("import", "/Square.js");
        _squareCard = await _squareJs.InvokeAsync<IJSObjectReference>("addSquareCardPayment", _elementId, _appid, _locationId);
        _payEnabled = true;
        Msgs.Clear();
        Msgs.Add("Ready");
        StateHasChanged();
      }
      catch (Exception ex) {
        Msgs.Clear();
        Msgs.Add($"Exception ({ex.GetType().Name}): {ex.Message}");
      }
    }
  }

  private async Task Pay() {
    Msgs.Clear();
    Msgs.Add("Processing...");
    SquareClient squareClient = new SquareClient.Builder()
      .Environment(_environment)
      .AccessToken(_accessToken)
      .Build();

    Money amountMoney = new Money.Builder()
      .Amount(299L) // Amount is in pennies
      .Currency("GBP")
      .Build();

    CreatePaymentRequest? body = new CreatePaymentRequest.Builder(
      await _squareJs.InvokeAsync<string>("getSquareCardToken", _squareCard), Guid.NewGuid().ToString(), amountMoney)
      .Autocomplete(true)
      .ReferenceId($"Test{DateTime.Now.ToString("yymmddHHmmss")}")
      .Note("it's good to add some reference to your transaction here")
      .Build();

    try {
      CreatePaymentResponse result = await squareClient.PaymentsApi.CreatePaymentAsync(body);
      Msgs.Clear();
      if (result.Errors?.Any() ?? false) {
        Msgs.Add($"Errors: {result.Errors.Count}");
      }
      Msgs.Add($"Payment.Id: {result.Payment.Id}");
      Msgs.Add($"StatusCode: {result.Context.Response.StatusCode}");
      Msgs.Add($"Response: {result.Context.Response}");
    }
    catch (ApiException ex) {
      Msgs.Clear();
      Msgs.Add("ApiException: " + string.Join("", ex.Errors.Select(e => e.Detail)));
    }
    catch (Exception ex) {
      Msgs.Clear();
      Msgs.Add($"HTTP error(s): {ex.Message}");
    }
  }

  async ValueTask IAsyncDisposable.DisposeAsync() {
    if (_squareJs is not null) {
      await _squareJs.DisposeAsync();
    }
  }

}