@page "/"

<PageTitle>Sample code for working with Square</PageTitle>

<h1>Sample code for working with Square</h1>

<p>Sample code for working with Square</p>

<p>In order to use this, you will need to set three environment variables (current values shown in brackets)...</p>
<ul>
  <li>SquareAppId: @(Environment.GetEnvironmentVariable("SquareAppId") ?? "(null)")</li>
  <li>SquareAccessToken: @(Environment.GetEnvironmentVariable("SquareAccessToken") ?? "(null)")</li>
  <li>SquareLocationId: @(Environment.GetEnvironmentVariable("SquareLocationId") ?? "(null)")</li>
</ul>

<p><strong>Note:</strong> You will need to restart Visual Studio <strong>after</strong> setting these variables, as VS only reads the environment when it starts, not when your application starts.</p>