@page "/Orders"
@using Pixata.Extensions
@using Square
@using Square.Exceptions
@using Square.Models
@using SquarePayments.Data
@inject SquareHelper _squareHelper
<PageTitle>Orders</PageTitle>

<h1>Orders</h1>

@code {

}
